/* HEADER */

.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #6725A8;
    z-index: 2;
}

.header:after {
    content: '';
    display: block;
    width: 100%;
    height: 24px;
    border-radius: 24px 24px 0 0;
    background: #F6F6FA;
    position: absolute;
    bottom: -1px;
    left: 0;
}

/* .header__wrapper */

.header__wrapper {
    width: 100%;
    left: 0;
    top: 0;
}

/* .header__container */

.header__container {
    max-width: 1382px;
    padding: 0 15px;
    margin: 0 auto;
}

/* .header__body */

.header__body {
    display: flex;
    align-items: flex-start;
    padding: 20px 0 5px;
    min-height: 112px;
}

/* .header__main */

.header__main {
    display: flex;
    align-items: center;
    flex: 0 0 calc(202 / 1352 * 100%);
    max-width: 170px;
    margin-right: 32px;
}

/* .header__logo */

.header__logo {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 22px;
    width: 106px;
    line-height: 24px;
    letter-spacing: 0.07em;
}

/* BURGER */

.icon-menu {
    background: 0 0;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
    padding: 21px 9px;
    margin-right: 16px;
}

.icon-menu__burger-line {
    width: 28px;
    height: 4px;
    position: relative;
    display: block;
    background: #fff;
    border-radius: 4px;
    pointer-events: none;
}

.icon-menu__burger-line:before {
    top: -10px;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    background: #fff;
    border-radius: 4px;
}

.icon-menu__burger-line:after {
    bottom: -10px;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    background: #fff;
    border-radius: 4px;
}

/* .header__search */

.header__search {
    max-width: 970px;
    margin-right: 32px;
    height: 48px;
}

.search-form__item {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 56px;
}

.search-form__item {

}

._active .search-form__item {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.search-form__btn {
    flex: 0 0 24px;
    margin: 0 20px 0 auto;
    width: 100%;
}

.search-form__icon {
    position: relative;
    z-index: 5;
}

.search-form__input {
    max-width: 898px;
    width: 100%;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 20px 14px 20px;
    background: transparent;
    border: none;
}

.search-form__input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


/* actions-header */

.header__actions {
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 48px;
}

.actions-header__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: #ffffff;
}

.profile-header {
    margin-right: 40px;
}

.header__icon {
    padding-top: 8px;
    display: block;
    height: 27px;
    position: relative;
}

._cart-name {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    padding-left: 3px;
}


.actions-header__notify {
    position: absolute;
    min-width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -6px;
    right: -10px;
    border-radius: 16px;
    background-color: #F55123;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 3px 1px;
}

/* ICONS */

._icon-profile {
    width: 20px;
    background: url(../assets/img/profile.svg) center/contain no-repeat;
}

._icon-search {
    height: 20px;
    width: 20px;
    background: url(../assets/img/search.svg) center/contain no-repeat;
}

._icon-cart {
    width: 27px;
    background: url(../assets/img/cart.svg) center/contain no-repeat;
}


.popup_hidden {
    font-size: 16px;
    line-height: 22px;
    color: #868695;
    display: none;
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    padding: 12px 16px 16px;
    position: fixed;
    z-index: 1001;
    background: #fff;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.popup_show {
    font-size: 16px;
    line-height: 22px;
    color: #868695;
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    padding: 12px 16px 16px;
    position: fixed;
    z-index: 1001;
    background: #fff;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

/* -------Popup-------*/

.popup-search {
    height: 100%;
    border-radius: 0;
}


.popup-search .popup-search__content {
    height: 100%;
}

.popup-search .popup-search__header {
    display: flex;
    width: 100%;
}

.popup-search .popup-search__input {
    position: relative;
    flex-grow: 1;
}

.popup-search .popup-search__input input {
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    width: 100%;
    height: 40px;
    background-color: #f1f1f5;
    padding: 0 35px 0 16px;
    border-radius: 24px;
    -webkit-appearance: textfield;
}

.popup-search .popup-search__icon {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/img/search.svg);
    margin-right: 15px;
}

.popup-search .popup-search__cancel {
    font-size: 14px;
    line-height: 20px;
    flex-shrink: 0;
    margin-left: 12px;
    color: #cb11ab;
    font-weight: 600;
}

.popup-search .popup-search__hints {
    overflow-y: auto;
    padding: 12px 6px 0 0;
    margin-right: -10px;
    max-height: calc(100% - 48px);
}

/* menu-burger active */


.menu-burger {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    max-width: 1223px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -105%;
    transition: all 0.3s ease 0s;
}

.menu-burger__main {
    overflow-y: auto;
    width: 300px;
    height: 100%;
    flex-shrink: 0;
    background: #fff;
    padding: 20px 0 20px 30px;
    transition: all 0.3s ease 0s;
}

.menu-burger__main-list-link:hover {
    background: #6725A8;
    color: #fff;
}

._active-burger {
    left: 0;
    z-index: 99;
}

.menu-burger__main-list-link {
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    display: block;
    position: relative;
    padding: 3px 5px 3px 44px;
    margin-right: 10px;
    border-radius: 8px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin-bottom: 15px;
}

.menu-burger__main-list-link::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    left: 8px;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2211%22%20stroke%3D%22%2300C143%22%20stroke-width%3D%221.2%22%2F%3E%3Cpath%20d%3D%22M8.503%2014.571H7.365L5.302%2011.7a4.101%204.101%200%2001-.251-.38h-.014c.018.162.028.409.028.74v2.512H4V10h1.215L7.2%2012.783c.09.125.174.25.251.373h.014a4.468%204.468%200%2001-.028-.628V10h1.065v4.571zM12.65%2014.571H9.646V10h2.887v.838h-1.76v1.017h1.638v.836h-1.637v1.045h1.874v.835zM20%2010l-1.323%204.571h-1.25l-.83-2.932a2.243%202.243%200%2001-.08-.514h-.014c-.021.209-.052.38-.091.514l-.852%202.932h-1.302L12.942%2010h1.232l.706%203.044c.03.13.052.304.066.523h.02a2.33%202.33%200%2001.102-.535L15.976%2010h1.207l.82%203.07c.03.113.058.276.08.49h.015c.009-.167.034-.337.073-.51l.691-3.05H20z%22%20fill%3D%22%2300C143%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: center;
}

.menu-burger__main-list-link.menu-burger__main-list-link--101::before {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.144%207.099c0%205.592%201.259%206.198%202.57%207.499-2.195.563-4.508.693-5.141.65v.65c0%20.65-.12%201.95%203.078%202.601C21%2019.193%2021%2021.75%2021%2021.75H3s.01-2.6%203.16-3.251c3.27-.65%203.269-1.95%203.269-2.6v-.651c-.666.043-2.972-.087-5.144-.65%201.313-1.3%202.573-1.907%202.573-7.5%200%200%200-4.55%203.856-4.55%200%200%206.43-2.038%206.43%204.55z%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%22.8%22%20stroke-miterlimit%3D%2210%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);
}

.menu-burger__main-list-link.menu-burger__main-list-link--102::before {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.344%2010.287l.599.458h0l.401.308a3.4%203.4%200%2000.093.068L8.936%209.373m7.408.914a.795.795%200%2001.311-.182l-.454-.348a.788.788%200%2001-.073.324h0l-.014.03m.23.176a.79.79%200%2000-.152.198m.152-.198l-.23-.176m0%200l-.118-.09h0l-.527-.403-.592-.454m1.237.947l-.107.233m-1.13-1.18a.794.794%200%2001.319-.176l-.553-.423a.786.786%200%2001-.046.385m.28.214a.785.785%200%2000-.157.195m.157-.195l-.28-.214m0%200l-.644-.493h0l-.563-.431m1.207.924l1.595%201.535m-2.802-2.46a.795.795%200%2001.36-.144l-3.641-2.787a.459.459%200%2000-.58.02m3.861%202.912L9.906%205.359h0a.125.125%200%2000-.158.005l-.22-.25m3.862%202.912l-4.603.484c-.07.065-.137.136-.204.216m.945-3.613c-.746.654-1.83%202.238-1.184%203.952a.806.806%200%2001.028-.048h0c.068-.107.139-.204.211-.291m.945-3.613l.22.251a4.05%204.05%200%2000-1.079%201.591c-.194.537-.265%201.14-.086%201.77m0%200c.052.184.125.369.223.555l.009.016.121.077m0%200c.038-.06.076-.114.115-.165m-.115.165l.115-.165m.097.165l.192-.12c-.065.07-.128.152-.188.248h0a.124.124%200%2001-.176.046l-.001-.002a.125.125%200%2001-.04-.172h.213zm0%200a.126.126%200%2001.003.128h0l-.003-.128zm.542-.39c-.016.007-.03.015-.046.024-.105.059-.206.14-.303.245l4.002%201.632-.03-.034.03.034.357-.777a.799.799%200%2000-.086-.121M9.69%208.982l.022.037h0a.79.79%200%2001.107.272.74.74%200%2001.31-.089c.672-.046%201.53.607%202.089%201.136l.146-.32M9.69%208.983c.159-.08.304-.104.414-.112h.001c.3-.021.603.063.879.186.278.123.55.296.799.48.21.155.407.322.581.483M9.69%208.982a2.253%202.253%200%2001-.117-.22c.188-.095.367-.13.513-.141h0c.629-.047%201.324.313%201.924.77.17.13.326.262.465.387l-.11.24m0%200c.205.19.378.368.501.506m0%200l-.08.174.132-.115a.125.125%200%2000.177.014h0a.125.125%200%2000.013-.176h0a6.029%206.029%200%2000-.129-.144l-.113.247zm0%200l.053.06-.133.114-.212.463m0%200a.796.796%200%2001-.16-.141h0a4.385%204.385%200%2000-.094-.106l-.29.632m.544-.385c.07.047.147.082.227.104m-.227-.104l-.241.524-.303-.14m0%200a.458.458%200%2000.833.384m-.833-.383l.303.14a.125.125%200%2000.062.165h0a.125.125%200%2000.166-.061h0l.302.139m0%200l.298-.649a.798.798%200%2001-.36-.015m.062.664l-.303-.14.241-.524m0%200l.213-.462.09-.196h0l.138-.301h0l.223-.486m0%200c.073.078.123.137.149.166m-.149-.166a8.351%208.351%200%2000-.186-.195l.186.195zm.149.166l-.253.217.253-.217s0%200%200%200zm3.119.913l-.292.617-.27-.208.562-.409zm0%200l.202.155.066-.139h0a.125.125%200%2000-.059-.166h0a.126.126%200%2000-.166.06s0%200%200%200l-.043.09zm-.54-.414l-.186-.14m.185.14a.827.827%200%2000-.018.037h0l-.129.27L14.69%209.42m1.319.924l-.543-.415m.543.415l-.143.31-.272-.207-.142.31-.272-.207.286-.621m0%200l.057-.126.303.14-.303-.14a.125.125%200%2000-.227-.105h0l-.034.074m.204.157l-.204-.157m0%200l-.293-.223.024.01-.024-.01-.248-.19m.54.413l-.285.622-.271-.208.143-.31-.272-.208.114-.248m.031-.061a.792.792%200%2000-.031.061m.031-.061l-.031.061m-5.99.734a.786.786%200%2000.367.078m-.367-.078c-.458.53-.978.813-1.428.964a3.339%203.339%200%2001-1.029.173l-.068-.001-.02-.001h-.006l-.012-.002h-.012c-.583-.01-1.068-.28-1.394-.8l4.336-.255m-.367-.078a.805.805%200%2001-.08-.045m.08.045l-.08-.045m.447.123C7.88%2011.742%206.2%2011.627%206.12%2011.62c-.699-.011-1.286-.342-1.671-.955-.194-.308-.507-.492-.84-.492h-.074l5.532.059zm-.447-.123a.795.795%200%2001-.128-.1%203.013%203.013%200%2001-2.339%201.03%201.392%201.392%200%2001-1.21-.684h0c-.305-.486-.806-.766-1.333-.766h-.075c-.759%200-1.417.569-1.528%201.32%200%200%200%200%200%200s0%200%200%200l-.435%202.948h.253m6.795-3.748l-6.795%203.748m0%200l.43-2.912h0a1.3%201.3%200%20011.28-1.106h.075c.46%200%20.873.255%201.121.649l-2.906%203.37zm15.265-3.42l.458.351c.044.034.088.066.133.097l-.59-.447zm0%200l-.004.01.004-.01h0zm5.413%205.23l.002-.004h0a.125.125%200%2000-.116-.17h-.071%200H10.098a1.29%201.29%200%2001-.5-.1h0l-1.79-.75s0%200%200%200c-.19-.079-.39-.12-.596-.12H1.725h0-.144a.125.125%200%2000-.095.207v.001a.124.124%200%2000.095.043H7.212c.172%200%20.34.034.5.1l14.79.794zm0%200a.125.125%200%2001-.114.075h-.135%200-12.155c-.206%200-.406-.04-.596-.12h0l-1.79-.748%2014.79.794zM9.051%209.209c.03.055.062.11.096.165l-.096-.165zm9.263%202.627a3.646%203.646%200%2001-.83-.382l.108-.227c.248.157.516.282.798.371l.1-.318-.1.318%202.543.807a2.46%202.46%200%20011.487%201.288c.178.37.26.778.245%201.184a.792.792%200%2000-.246-.05%202.23%202.23%200%2000-.225-1.025%202.217%202.217%200%2000-1.337-1.159s0%200%200%200l-2.543-.807h0zm-4.237-2.549l.271.208.143-.31-.543-.416-.285.621.271.208.143-.31zm.236%203.15s0%200%200%200h0l.303.14-.303-.14zm-.228-.104s0%200%200%200l-.303-.14.303.14zm2.558-.661l-.604%201.276.604-1.276zm-2.672-2.953s0%200%200%200l.303.139-.303-.14zm-.227-.105v-.001l-.531-.407a.796.796%200%2000-.075.13l.303.14-.303-.14-.08.172.272.208-.142.31.271.208.285-.62h0zM1.592%2015.441c-.048.482.103.963.421%201.332h0c.336.388.824.612%201.338.612h16.67a2.24%202.24%200%20001.849-.976h.296a2.488%202.488%200%2001-2.145%201.226H3.35a2.015%202.015%200%2001-1.527-.7h0a2.014%202.014%200%2001-.48-1.53.795.795%200%2000.237.036h.011z%22%20fill%3D%22%23A7A7A7%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%22.667%22%2F%3E%3C%2Fsvg%3E);
}

.menu-burger__main-list-link.menu-burger__main-list-link--103::before {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5.853%2011.062h7.171V3.445c0-.245.2-.445.446-.445%202.338%200%204.476.958%206.013%202.494A8.618%208.618%200%200122%2011.508v2.962c0%20.935-.4%201.782-1.002%202.405-.268.267-.58.49-.913.646l.155.156c.424.4.669%201.002.669%201.648%200%20.624-.245%201.225-.668%201.648-.424.401-1.025.668-1.649.668a2.4%202.4%200%2001-1.648-.668%202.363%202.363%200%2001-.69-1.648c0-.557.178-1.047.49-1.447h-6.548c.312.4.49.89.49%201.447%200%20.624-.245%201.225-.668%201.648a2.4%202.4%200%2001-1.648.668%202.4%202.4%200%2001-1.648-.668%202.363%202.363%200%2001-.69-1.648c0-.646.266-1.247.69-1.648.044-.067.089-.111.133-.156a3.145%203.145%200%2001-.89-.646l-.023-.022a3.406%203.406%200%2001-.98-2.383V8.278c0-.378-.156-.735-.423-1.002a1.43%201.43%200%2000-1.025-.423H2.445A.447.447%200%20012%206.408c0-.245.2-.446.445-.446h1.07c.645%200%201.224.267%201.648.69a2.31%202.31%200%2001.69%201.626v2.784zm12.74%206.816h-.023c-.4%200-.735.178-1.002.423a1.43%201.43%200%2000-.423%201.024c0%20.379.156.735.423%201.002a1.43%201.43%200%20001.024.424c.379%200%20.758-.156%201.003-.424.267-.267.423-.623.423-1.002%200-.4-.156-.757-.423-1.024a1.43%201.43%200%2000-1.003-.423zm-10.201%200h-.045c-.4%200-.735.178-1.002.423a1.527%201.527%200%2000-.423%201.024c0%20.379.178.735.423%201.002a1.43%201.43%200%20001.025.424c.4%200%20.757-.156%201.002-.424.267-.267.423-.623.423-1.002%200-.4-.156-.757-.423-1.024a1.418%201.418%200%2000-.98-.423zm-.022-.891H18.615a2.48%202.48%200%20001.737-.735%202.49%202.49%200%2000.735-1.782v-2.495h-7.705l-7.529-.022v2.517c0%20.69.267%201.314.713%201.76l.022.022a2.48%202.48%200%20001.737.735h.045zm5.545-5.925h7.172A7.609%207.609%200%200018.86%206.14a7.606%207.606%200%2000-4.945-2.227v7.15z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3C%2Fsvg%3E);
}

.menu-burger__main-list-link.menu-burger__main-list-link--104::before {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.47%2017.717c-3.033-.56-3.042-1.52-3.042-2.121v-.36c.727-.641%201.287-1.562%201.587-2.642.006%200%20.01.04.017.04.926%200%201.142-1.922%201.142-2.202s.025-1.401-.912-1.401c2.016-5.444-3.326-7.606-7.337-4.804-1.654%200-1.787%202.402-1.179%204.804-.937%200-.899%201.12-.899%201.4%200%20.281.215%202.203%201.142%202.203l.004-.04c.3%201.08.856%202.001%201.578%202.642v.36c0%20.6%200%201.561-3.041%202.121C3.537%2018.237%203%2021%203%2021h18s-.543-2.722-3.53-3.283z%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%22.8%22%20stroke-miterlimit%3D%2210%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);
}

.menu-burger__main-list-link.menu-burger__main-list-link--105::before {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M14.63%207.636a2.492%202.492%200%2000-3.912-1.32%202.49%202.49%200%2000-.89%201.32h4.801zM9.897%205.965a3.296%203.296%200%20015.554%201.645l.005.026h5.62a.514.514%200%20010%201.029h-.857v3.16l.916-.916a.514.514%200%2001.726.726l-1.642%201.643v4.185a2.056%202.056%200%2001-2.055%202.056H5.83a2.056%202.056%200%2001-2.056-2.055v-4.197l-1.63-1.63a.514.514%200%2001.726-.727l.904.903V8.665h-.857a.514.514%200%20010-1.028H9l.005-.026a3.298%203.298%200%2001.893-1.645v-.001zm9.363%202.865H4.734v4.008a.516.516%200%20010%20.358v4.268a1.096%201.096%200%20001.097%201.096h12.334a1.096%201.096%200%20001.096-1.096v-4.305a.515.515%200%20010-.285V8.83z%22%20fill%3D%22%23A7A7A7%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%22.2%22%2F%3E%3C%2Fsvg%3E);
}

.menu-burger__main-list-link.menu-burger__main-list-link--106::before {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask%20id%3D%22a%22%20fill%3D%22%23fff%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M19.037%209.124h-3.438a1.926%201.926%200%2000-1.926%201.926v9.913h7.29V11.05a1.926%201.926%200%2000-1.926-1.926zm-3.438-1.037a2.963%202.963%200%2000-2.963%202.963V22H22V11.05a2.963%202.963%200%2000-2.963-2.963h-3.438zM3.037%2016.08v4.883h7.29V16.08h-7.29zm-.296-1.036a.74.74%200%2000-.741.74V22h9.364v-6.216a.74.74%200%2000-.741-.74H2.74z%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M4.74%206.515v8.47h3.884v-8.47H4.74zm-.297-1.037a.74.74%200%2000-.74.741v9.803H9.66V6.219a.74.74%200%2000-.74-.74H4.442z%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.773%203.037h-.627c-.859%200-1.555.696-1.555%201.556v.718h2.182V3.037zM7.146%202a2.593%202.593%200%2000-2.592%202.593v1.755H8.81V2.74A.74.74%200%20008.07%202h-.924z%22%2F%3E%3C%2Fmask%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M19.037%209.124h-3.438a1.926%201.926%200%2000-1.926%201.926v9.913h7.29V11.05a1.926%201.926%200%2000-1.926-1.926zm-3.438-1.037a2.963%202.963%200%2000-2.963%202.963V22H22V11.05a2.963%202.963%200%2000-2.963-2.963h-3.438zM3.037%2016.08v4.883h7.29V16.08h-7.29zm-.296-1.036a.74.74%200%2000-.741.74V22h9.364v-6.216a.74.74%200%2000-.741-.74H2.74z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M4.74%206.515v8.47h3.884v-8.47H4.74zm-.297-1.037a.74.74%200%2000-.74.741v9.803H9.66V6.219a.74.74%200%2000-.74-.74H4.442z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.773%203.037h-.627c-.859%200-1.555.696-1.555%201.556v.718h2.182V3.037zM7.146%202a2.593%202.593%200%2000-2.592%202.593v1.755H8.81V2.74A.74.74%200%20008.07%202h-.924z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3Cpath%20d%3D%22M13.673%2020.963h-1.4v1.4h1.4v-1.4zm7.29%200v1.4h1.4v-1.4h-1.4zM12.636%2022h-1.4v1.4h1.4V22zM22%2022v1.4h1.4V22H22zM3.037%2020.963h-1.4v1.4h1.4v-1.4zm0-4.883v-1.4h-1.4v1.4h1.4zm7.29%204.883v1.4h1.4v-1.4h-1.4zm0-4.883h1.4v-1.4h-1.4v1.4zM2%2022H.6v1.4H2V22zm9.364%200v1.4h1.4V22h-1.4zM4.74%2014.985h-1.4v1.4h1.4v-1.4zm0-8.47v-1.4h-1.4v1.4h1.4zm3.884%208.47v1.4h1.4v-1.4h-1.4zm0-8.47h1.4v-1.4h-1.4v1.4zm-4.922%209.507h-1.4v1.4h1.4v-1.4zm5.96%200v1.4h1.4v-1.4h-1.4zM7.771%203.037h1.4v-1.4h-1.4v1.4zM5.592%205.311h-1.4v1.4h1.4v-1.4zm2.182%200v1.4h1.4v-1.4h-1.4zm-3.22%201.037h-1.4v1.4h1.4v-1.4zm4.257%200v1.4h1.4v-1.4h-1.4zm6.79%204.176h3.437v-2.8h-3.438v2.8zm-.527.526c0-.29.236-.526.526-.526v-2.8a3.326%203.326%200%2000-3.326%203.326h2.8zm0%209.913V11.05h-2.8v9.913h2.8zm5.89-1.4h-7.29v2.8h7.29v-2.8zm-1.4-8.513v9.913h2.8V11.05h-2.8zm-.526-.526c.29%200%20.526.236.526.526h2.8a3.326%203.326%200%2000-3.326-3.326v2.8zm-5%20.526c0-.863.7-1.563%201.562-1.563v-2.8a4.363%204.363%200%2000-4.363%204.363h2.8zm5-1.563c.863%200%201.563.7%201.563%201.563h2.8a4.363%204.363%200%2000-4.363-4.363v2.8zm-3.438%200h3.438v-2.8h-3.438v2.8zM14.036%2022V11.05h-2.8V22h2.8zM22%2020.6h-9.364v2.8H22v-2.8zm-1.4-9.55V22h2.8V11.05h-2.8zM4.437%2020.963V16.08h-2.8v4.883h2.8zm5.89-1.4h-7.29v2.8h7.29v-2.8zm-1.4-3.482v4.882h2.8V16.08h-2.8zm-5.89%201.4h7.29v-2.8h-7.29v2.8zm.363-1.697a.66.66%200%2001-.66.66v-2.8a2.14%202.14%200%2000-2.14%202.14h2.8zm7.223.66a.66.66%200%2001-.66-.66h2.8a2.14%202.14%200%2000-2.14-2.14v2.8zm-7.882%200h7.882v-2.8H2.74v2.8zM3.4%2022v-6.216H.6V22h2.8zm7.964-1.4H2v2.8h9.364v-2.8zm-1.4-4.816V22h2.8v-6.216h-2.8zm-3.824-.799v-8.47h-2.8v8.47h2.8zm2.484-1.4H4.74v2.8h3.884v-2.8zm-1.4-7.07v8.47h2.8v-8.47h-2.8zm-2.484%201.4h3.884v-2.8H4.74v2.8zm.362-1.696a.66.66%200%2001-.659.66v-2.8a2.14%202.14%200%2000-2.14%202.14h2.8zm3.818.66a.66.66%200%2001-.659-.66h2.8a2.14%202.14%200%2000-2.14-2.14v2.8zm-4.477%200H8.92v-2.8H4.443v2.8zm.66%209.143V6.219h-2.8v9.803h2.8zm4.558-1.4H3.702v2.8h5.96v-2.8zm-1.4-8.403v9.803h2.8V6.219h-2.8zM7.146%204.437h.627v-2.8h-.627v2.8zm-.155.156c0-.086.07-.156.155-.156v-2.8a2.956%202.956%200%2000-2.955%202.956h2.8zm0%20.718v-.718h-2.8v.718h2.8zm.782-1.4H5.59v2.8h2.182v-2.8zm-1.4-.874v2.274h2.8V3.037h-2.8zm-.42%201.556c0-.66.535-1.193%201.193-1.193V.6a3.993%203.993%200%2000-3.992%203.993h2.8zM8.07%203.4a.66.66%200%2001-.66-.66h2.8A2.14%202.14%200%20008.07.6v2.8zm-.923%200h.923V.6h-.923v2.8zM5.954%206.348V4.593h-2.8v1.755h2.8zm2.856-1.4H4.554v2.8H8.81v-2.8zM7.41%202.74v3.607h2.8V2.74h-2.8z%22%20fill%3D%22%23A7A7A7%22%20mask%3D%22url(%23a)%22%2F%3E%3C%2Fsvg%3E");
}

.menu-burger__main-list-link.menu-burger__main-list-link--107::before {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16.352%205.83a4.626%204.626%200%200%200-9.21.619v.458H3.186a.559.559%200%200%200-.54.416c-.01.037-.054.211-.108.492-.283%201.445-.847%205.719%201.505%208.759l.003.003c1.597%202.062%204.188%203.108%207.723%203.108h.003c3.538%200%206.144-1.046%207.728-3.11v-.001l.002-.002c2.348-3.04%201.774-7.312%201.497-8.757a12.22%2012.22%200%200%200-.105-.492.56.56%200%200%200-.541-.416h-3.958v-.458c0-.209-.014-.415-.042-.62Zm.042%202.194v2.114a.558.558%200%201%201-1.118%200V8.024H8.26v2.114a.558.558%200%201%201-1.117%200V8.024H3.637a13.881%2013.881%200%200%200-.16%201.077c-.19%201.75-.19%204.675%201.449%206.789l.002.002c1.374%201.777%203.673%202.676%206.84%202.676h.003c3.164%200%205.464-.901%206.84-2.675l.003-.003c1.63-2.12%201.635-5.042%201.447-6.79a13.638%2013.638%200%200%200-.154-1.054l-.005-.022h-3.508ZM15.22%205.83c.037.203.055.41.055.619v.458H8.26v-.458a3.507%203.507%200%200%201%206.557-1.737c.197.347.334.724.404%201.118Z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3C%2Fsvg%3E);
}

.menu-burger__main-list-link.menu-burger__main-list-link--108::before {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5.636%208.636c0-.334.272-.606.606-.606h3.03a.606.606%200%20010%201.212h-3.03a.606.606%200%2001-.606-.606z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.242%208.03a.606.606%200%20000%201.212h3.03a.606.606%200%20000-1.212h-3.03zM15.333%2014.335a2.669%202.669%200%20100-5.337%202.669%202.669%200%20000%205.337zm0%20.968a3.636%203.636%200%20100-7.273%203.636%203.636%200%20000%207.273z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M17.484%205.968H5.226a2.258%202.258%200%2000-2.258%202.258v6.881a2.258%202.258%200%20002.258%202.259h12.258a3.548%203.548%200%20003.548-3.549v-4.3a3.548%203.548%200%2000-3.548-3.55zM5.226%205A3.226%203.226%200%20002%208.226v6.881a3.226%203.226%200%20003.226%203.226h12.258A4.516%204.516%200%200022%2013.817v-4.3A4.516%204.516%200%200017.484%205H5.226z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3Cpath%20d%3D%22M5.636%208.636c0-.334.272-.606.606-.606h3.03a.606.606%200%20010%201.212h-3.03a.606.606%200%2001-.606-.606z%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%22.2%22%2F%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M6.242%208.03a.606.606%200%20000%201.212h3.03a.606.606%200%20000-1.212h-3.03zM15.333%2014.335a2.669%202.669%200%20100-5.337%202.669%202.669%200%20000%205.337zm0%20.968a3.636%203.636%200%20100-7.273%203.636%203.636%200%20000%207.273z%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%22.2%22%2F%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M17.484%205.968H5.226a2.258%202.258%200%2000-2.258%202.258v6.881a2.258%202.258%200%20002.258%202.259h12.258a3.548%203.548%200%20003.548-3.549v-4.3a3.548%203.548%200%2000-3.548-3.55zM5.226%205A3.226%203.226%200%20002%208.226v6.881a3.226%203.226%200%20003.226%203.226h12.258A4.516%204.516%200%200022%2013.817v-4.3A4.516%204.516%200%200017.484%205H5.226z%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%22.2%22%2F%3E%3C%2Fsvg%3E)
}

.menu-burger__main-list-link.menu-burger__main-list-link--109::before {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M20.024%2012.264a2.815%202.815%200%2000-2.811-2.812h-.009a5.63%205.63%200%2000.305-3.337l.468-.389a2.111%202.111%200%2000-1.151-3.723%202.086%202.086%200%2000-1.542.477l-.146.12a5.63%205.63%200%2000-3.166-.97c-1.15%200-2.219.346-3.113.936l-.103-.086a2.09%202.09%200%2000-1.542-.477%202.093%202.093%200%2000-1.428.753%202.112%202.112%200%2000.276%202.97l.388.322a5.652%205.652%200%2000.301%203.434l-.044-.002a2.8%202.8%200%2000-2.798%202.797%202.8%202.8%200%20002.798%202.798c.189%200%20.375-.025.559-.062-.001.049-.006.097-.006.146%200%20.468.048.924.136%201.36a2.907%202.907%200%2000-1.716.747%202.92%202.92%200%2000-.964%202.034c-.04.785.229%201.538.756%202.12a2.92%202.92%200%20002.183.969c1.224%200%202.29-.761%202.727-1.85a3.931%203.931%200%20002.855.125c.19.42.477.792.848%201.087a2.918%202.918%200%20002.165.619%202.945%202.945%200%20002.586-3.259%202.922%202.922%200%2000-1.094-1.967%202.927%202.927%200%2000-1.205-.57c.095-.452.146-.927.146-1.415%200-.047-.005-.094-.005-.141.176.034.355.057.535.057%201.55%200%202.811-1.261%202.811-2.811zm-3.29-9.265a1.11%201.11%200%2001.606%201.958l-.155.127a5.684%205.684%200%2000-1.258-1.837c.227-.187.513-.274.806-.248zm-.1%204.293a4.667%204.667%200%2001-4.662%204.662A4.667%204.667%200%20017.31%207.292a4.667%204.667%200%20014.662-4.661%204.667%204.667%200%20014.662%204.661zM6.7%204.957a1.107%201.107%200%20011.356-1.748%205.686%205.686%200%2000-1.272%201.818l-.084-.07zm.007%209.118a1.8%201.8%200%2001-1.798-1.797%201.8%201.8%200%20011.798-1.798c.24%200%20.47.048.687.139.26.357.561.682.896.97a6.258%206.258%200%2000-.921%202.36c-.21.083-.435.126-.662.126zm.849%207.312a1.93%201.93%200%2001-1.343-.637%201.929%201.929%200%2001-.499-1.4%201.934%201.934%200%20011.964-1.841c.39%201.043%201.029%201.92%201.826%202.517a1.948%201.948%200%2001-1.948%201.36zm.704-6.228c0-1.102.298-2.146.844-2.988a5.626%205.626%200%20002.868.783%205.625%205.625%200%20002.867-.782c.546.841.845%201.883.845%202.987%200%202.6-1.665%204.716-3.712%204.716S8.26%2017.759%208.26%2015.159zm8.86%202.768c.407.323.663.784.723%201.299a1.944%201.944%200%2001-1.707%202.15%201.924%201.924%200%2001-1.429-.408%201.93%201.93%200%2001-.569-.735c.93-.587%201.678-1.538%202.117-2.697.313.055.61.188.866.391zm-1.467-6.338a5.7%205.7%200%2000.934-1.024%201.813%201.813%200%20012.437%201.698%201.814%201.814%200%2001-2.447%201.697%206.25%206.25%200%2000-.924-2.371z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3Cpath%20d%3D%22M11.972%2010.932a1.01%201.01%200%20100-2.02%201.01%201.01%200%20000%202.02zM13.962%207.292a.663.663%200%20100-1.326.663.663%200%20000%201.326zM9.982%207.292a.663.663%200%20100-1.326.663.663%200%20000%201.326z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3C%2Fsvg%3E)
}

.menu-burger__main-list-link.menu-burger__main-list-link--110::before {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cpath%20d%3D%22M21.71%208.743a1.204%201.204%200%200%200-.916-.42h-1.88l.315-2.967A1.205%201.205%200%200%200%2018.032%204H5.968A1.206%201.206%200%200%200%204.77%205.349l.315%202.974H3.206a1.206%201.206%200%200%200-1.192%201.389l1.204%207.825a1.022%201.022%200%200%200%201.015.871h1.128l-.521%202.085a.36.36%200%201%200%20.699.175l.564-2.26h11.793l.565%202.26a.361.361%200%201%200%20.7-.175l-.522-2.085h1.128a1.022%201.022%200%200%200%201.015-.87l1.204-7.826a1.205%201.205%200%200%200-.277-.969Zm-15.834%204.49c0-.011.003-.023.007-.035a.111.111%200%200%201%20.04-.056c.063-.048.127-.095.193-.141l.026-.017c.052-.036.105-.071.158-.105l.075-.046a6.229%206.229%200%200%201%20.316-.181l.083-.044a5.628%205.628%200%200%201%20.396-.184l.098-.04a5.871%205.871%200%200%201%20.32-.118l.118-.039.082-.025c.104-.03.21-.06.315-.086l.01-.003a6.62%206.62%200%200%201%20.162-.036l.055-.012c.054-.012.108-.022.163-.032l.049-.009c.058-.01.117-.02.175-.028l.01-.001c.135-.02.27-.035.407-.047h.006c.182-.015.366-.023.55-.023h4.62a6.704%206.704%200%200%201%201.137.098l.05.008.137.027.09.019a5.835%205.835%200%200%201%20.46.118l.084.025c.07.021.138.044.206.067l.06.023c.05.017.098.035.146.054l.094.038a6.512%206.512%200%200%201%20.417.189l.054.028c.22.114.433.241.637.382l.004.003.068.047a.41.41%200%200%201%20.17.332v1.31a.113.113%200%200%201-.113.113H5.989a.113.113%200%200%201-.113-.112v-1.46Zm-.272-8.348a.48.48%200%200%201%20.364-.165h12.064a.486.486%200%200%201%20.481.553l-.35%203.312-.372%203.51-.014-.008a6.61%206.61%200%200%200-.612-.302l-.082-.034a6.884%206.884%200%200%200-.236-.093l-.087-.033a7.075%207.075%200%200%200-.307-.102l-.076-.022a7.19%207.19%200%200%200-.665-.162l-.011-.003a7.331%207.331%200%200%200-.358-.059l-.043-.005a7.313%207.313%200%200%200-.339-.038l-.016-.002a1.787%201.787%200%200%200-.31-.028h-5.27c-.104%200-.206.01-.307.028H9.05a7.346%207.346%200%200%200-.747.103l-.006.001c-.12.024-.24.05-.36.079l-.035.009a7.085%207.085%200%200%200-.647.196%206.773%206.773%200%200%200-.37.143l-.067.029a6.698%206.698%200%200%200-.563.277l-.047.025-.36-3.411-.362-3.417a.48.48%200%200%201%20.118-.381Zm15.67%204.717-1.204%207.826a.305.305%200%200%201-.303.26H4.233a.305.305%200%200%201-.303-.26L2.726%209.603a.486.486%200%200%201%20.48-.56h1.955l.369%203.487a.418.418%200%200%201-.045.04.841.841%200%200%200-.329.663v1.46a.834.834%200%200%200%20.833.834H18.01a.834.834%200%200%200%20.833-.833v-1.31c0-.044-.003-.086-.008-.129-.001-.014-.004-.027-.006-.041a1.133%201.133%200%200%200-.016-.084l-.013-.048a1.069%201.069%200%200%200-.023-.074l-.018-.048a1.164%201.164%200%200%200-.094-.182l-.027-.041a1.164%201.164%200%200%200-.05-.066l-.028-.035a1.15%201.15%200%200%200-.07-.071c-.006-.007-.012-.014-.02-.02l-.002-.003.37-3.5h1.955a.485.485%200%200%201%20.48.56Z%22%20fill%3D%22%23A7A7A7%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%22.2%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20transform%3D%22translate(2%204)%22%20d%3D%22M0%200h20v16.941H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E")
}

.menu-burger__main-list-link.menu-burger__main-list-link--111::before {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2211%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%221.2%22%2F%3E%0A%3Cpath%20d%3D%22M8.5308%2015.3869H4.53741V14.4818H5.99635V9.70202L4.5%2010.1027V9.15051L7.08121%208.5V14.4818H8.5308V15.3869Z%22%20fill%3D%22%23A7A7A7%22%2F%3E%0A%3Cpath%20d%3D%22M10.8829%2011.8421V11.8232C10.0942%2011.4461%209.69983%2010.9009%209.69983%2010.1875C9.69983%209.69731%209.89778%209.29663%2010.2937%208.98552C10.6896%208.67127%2011.1993%208.51414%2011.8228%208.51414C12.387%208.51414%2012.85%208.66027%2013.2116%208.95253C13.5732%209.24478%2013.754%209.62031%2013.754%2010.0791C13.754%2010.827%2013.3394%2011.4084%2012.5102%2011.8232V11.8421C13.4703%2012.1941%2013.9504%2012.8037%2013.9504%2013.671C13.9504%2014.2304%2013.74%2014.6751%2013.3191%2015.0051C12.8983%2015.335%2012.3122%2015.5%2011.5609%2015.5C10.953%2015.5%2010.4527%2015.3366%2010.0599%2015.0098C9.67021%2014.6829%209.47537%2014.2587%209.47537%2013.737C9.47537%2012.8697%209.94454%2012.238%2010.8829%2011.8421ZM12.6972%2010.2441C12.6972%209.97071%2012.6115%209.75544%2012.44%209.59832C12.2717%209.43805%2012.041%209.35791%2011.748%209.35791C11.4736%209.35791%2011.2414%209.44119%2011.0512%209.60774C10.8611%209.77116%2010.766%209.98013%2010.766%2010.2347C10.766%2010.7532%2011.0855%2011.1444%2011.7246%2011.4084C12.373%2011.1382%2012.6972%2010.7501%2012.6972%2010.2441ZM11.6685%2012.3182C10.9141%2012.623%2010.5368%2013.063%2010.5368%2013.638C10.5368%2013.9366%2010.646%2014.1817%2010.8642%2014.3734C11.0855%2014.5651%2011.3754%2014.6609%2011.7339%2014.6609C12.0737%2014.6609%2012.3512%2014.5667%2012.5663%2014.3781C12.7845%2014.1896%2012.8936%2013.9523%2012.8936%2013.6663C12.8936%2013.063%2012.4852%2012.6136%2011.6685%2012.3182Z%22%20fill%3D%22%23A7A7A7%22%2F%3E%0A%3Cpath%20d%3D%22M19.5%2012.5925H17.6529V14.4545H16.8814V12.5925H15.0343V11.8147H16.8814V9.94808H17.6529V11.8147H19.5V12.5925Z%22%20fill%3D%22%23A7A7A7%22%2F%3E%0A%3C%2Fsvg%3E%0A);
}

@media (min-width: 1024px) {
    .header__search {
        flex: 1 1 auto;
    }
    .search-form__icon {
        display: none;
    }
    .popup_show {
        display: none;
    }
}

@media (max-width: 1024px) {

    ._icon-search {
        height: 28px;
        width: 28px;
    }

    .header__container {
        padding: 0 25px;
    }
    .popup {
        top: auto !important;
        left: 0 !important;
        bottom: 0;
        max-height: 100%;
    }
    .actions-header__notify {
        top: -7px;
        padding: 0 3px 3px;
    }
}

@media (max-width: 1023.98px) {
    .header__actions {
        display: none;
    }
    .header__main {
        flex: 1 1 auto;
        max-width: none;
    }
    .header__search {
        display: flex;
        align-items: center;
    }
    .search-form__item {
        box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
        position: absolute;
        left: 0;
        top: -100%;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
    }
}

@media (max-width: 479px) {
    .header__body {
        min-height: 80px;
    }

    .header__search {
        margin-right: 0;
        height: 20px;
    }

    .actions-header {
        display: none;
    }

    .header__logo {
        display: flex;
        align-items: center;
        font-size: 20px;
        max-width: 212px;
        width: 100%;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.1em;
    }

    .header__main {
        height: 18px;
        margin: 0;
    }

    .icon-menu {
        border: 0;
        padding: 0;
        margin-right: 23px;
    }

    ._icon-search {
        height: 22px;
        width: 24px;
    }

    .icon-menu__burger-line {
        width: 23px;
        height: 3px;
    }

    .icon-menu__burger-line:before {
        top: -8px;
    }

    .icon-menu__burger-line:after {
        width: 75%;
        bottom: -8px;
    }
}

@media (max-width: 960px) {
    .header__container {
        padding: 0 15px;
    }
}
