.modalCard {
    display: none;
    z-index: 10;
    background-color: rgba(5, 0, 10, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    padding: 20px;
}

.modal--open {
    display: flex;
}

.modal__body-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.card_number-card {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 24px;
    padding: 7px 1px 7px 1px;
    background-color: rgba(246, 246, 250, 1);
    border-radius: 4px;
}

._mir, ._visa, ._mastercard, ._maestro {
    width: 30px;
    height: 10px;
    background-image: url("../assets/img/card.svg");
    display: block;
    font-size: 0;
    background-position: center;
    background-repeat: no-repeat;
}

._visa {
    width: 32px;
    height: 11px;
    background-image: url("../assets/img/visa.svg");
}

._mastercard {
    width: 24px;
    height: 14px;
    background-image: url("../assets/img/mastercard.svg");
}

._maestro {
    width: 24px;
    height: 14px;
    background-image: url("../assets/img/maestro.svg");
}

.modal__footer {
    margin-top: auto;
}

input[type="radio"] + .card-radio:before {
    top: 2px;
}

.card-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

@media (max-width: 479.98px) {
    .modalCard {
        padding: 0;
        z-index: 111;
    }
    .modal__box {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        border-radius: 0;
        padding: 16px;
    }
    .address-name {
        max-width: 236px;
    }
    .order_btn {
        max-width: none;
    }
    .modal__footer {
        margin-top: auto;
    }
    .title-body__modal {
        margin-bottom: 8px;
    }
    .modal-status {
        display: flex;
        margin-left: 24px;
        line-height: 16px;
    }
    .modal__address {
        margin-bottom: 16px;
    }
}